* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial',fantasy;
    background-color: rgb(101,102,111);
    color: white;
}


/* Style the header */
.left {
    float: left;
    width: 20%;
    display: table-cell;
    vertical-align: middle
}
.code{
  color: grey;
  font-size: 14px}
.main {
  	padding:3%;
  	float:left;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    min-height: 1em;
    display: table-cell;
    vertical-align: middle
    }
.right {
	float:left;
  	width:30%;
    min-height: 1em;
    display: table-cell;
    vertical-align: middle
  }
.row:after {
    content: "";
    display: table;
    clear: both;
}


header {
    background-color: black;
    padding: 00px;
    text-align: center;
    font-family: 'Arial',fantasy;
    font-size: 16px;
    color: white;

    }
h2.indent{padding-left:1.8em}

/* Container for flexboxes */
section {
  content-align: middle;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*padding-left:2.8em;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: bold;
    font-family: 'Arial',fantasy;
    display: -webkit-flex;
    display: flex;
    font-size: 16px;
    padding: 12px;
    /*border:0.1em solid gray;
  	border-radius:0.12em;*/
    margin:0 0 0.4em 0;
    background-color: black;
    vertical-align: middle;
}


/* Style the navigation menu */
nav {
    text-align: center;
    font-size: 20px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    background: black;
    padding: 15px;
}

div.lineSeparator{
	height:1px;
	width:100%;
	background-color:rgba(255,255,255,1);
	margin:3em 0;
}
@media all and (max-width:50em){
	div.lineSeparator{
		margin:2em 0;
	}
}

a.button4{
	display:inline-block;

  width: 22%;
  padding:0.3em 0em;
	border:0.1em solid #FFFFFF;
	margin:0 0.5em 1em 0;
	border-radius:0.32em;
	box-sizing: border-box;
	text-decoration:none;
	font-family: 'Arial',fantasy;
	font-weight:300;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.2s;
}
a.button4:hover{
	color:#000000;
	background-color:#FFFFFF;
}
@media all and (max-width:42em){
  #logo{
    min-width: 100px;
    margin-right: 1%
  }
	a.button4{
		display:block;
		margin:0.4em auto;
    width: 95%;
	}
}

.button4 {
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
	display:block;
  width: 25%;
  padding:0.3em 0em;
	border:0.1em solid #FFFFFF;
	margin:0 1em 1.2em 0;
  margin-left: auto;
  margin-right: auto;
	border-radius:0.32em;
	box-sizing: border-box;
	text-decoration:none;
	font-family: 'Arial',fantasy;
	font-weight:80;
	color:white;
	text-align:center;
	transition: all 0.2s;
  vertical-align: middle;
  border: rigid;
}
.button4:hover {
	color:#000000;
	background-color:#FFFFFF;
}

.bouncy{
	animation:bouncy 5s infinite linear;
	position:relative;
}
@keyframes bouncy {
	0%{top:0em}
	40%{top:0em}
	43%{top:-0.9em}
	46%{top:0em}
	48%{top:-0.4em}
	50%{top:0em}
	100%{top:0em;}
}
/* Style the list inside the menu */


article {
    -webkit-flex: 5;
    -ms-flex: 3;
    flex: 7;
    background-color: #f1f1f1;
    padding: 10px;
}
img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    max-width: 60%;
    height: 50%;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
}
/* Style the footer */
footer {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    font-size: 26px;
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;

}
footer.h2{font-size: 16px}

.fa {
    color: white;
    padding: 20px;
    font-size: 26px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
    height: 50%;
}

#myImg:hover {opacity: 0.9;
}
table, th, td {
border: 1px solid white;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;


}
tr:nth-child(even) {background-color: grey;}
th {background-color: red;}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    max-width: 1200px;
    max-height: 800px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    object-fit: cover;
    margin: auto;
    display: block;
    width: 90%;
    height: 90%;
    max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.5)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    #myImg {
      width: 100%;}
}
